# Node
node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite / Build
build/
dist/
.vite/
.cache/

# Local caches
.npm-cache/

# Environment files
.env
.env.*
!.env.example

# Editors/OS
.vscode/
.idea/
.DS_Store

# TypeScript
*.tsbuildinfo

# Coverage
coverage/
